@model EditUserRoleDto
@{
    ViewData["Title"] = "Rol Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@Model.UserName - @ViewData["Title"]</h1>

<br />

<form asp-area="Admin" asp-controller="Account" asp-action="EditUserRole" method="post">
    
    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label>Mevcut Rol:</label>
        <span><b style="color:red">@Model.CurrentRole</b></span>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="NewRole"></label>
        <select asp-for="NewRole" asp-items="@(new SelectList(Model.Roles))" class="form-control"></select>
    </div>

    <br />

    <div class="form-group text-center">
        <a asp-action="UserList" class="btn btn-outline-danger btn-sm">İptal</a>
        <button type="submit" class="btn btn-outline-info btn-sm">Rolü Güncelle</button>
    </div>
    
</form>