@model ResetPasswordDto
@{
    ViewData["Title"] = "Şifre Sıfırlama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Admin" asp-controller="ResetPassword" asp-action="Login">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="Email" />
            

            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Şifremi Sıfırla" class="btn btn-outline-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

